@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 0%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 0%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 0%);
    --primary: hsl(0 100% 60%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(60 100% 50%);
    --secondary-foreground: hsl(0 0% 0%);
    --muted: hsl(0 0% 94.12%);
    --muted-foreground: hsl(0 0% 20%);
    --accent: hsl(216 100% 50%);
    --accent-foreground: hsl(0 0% 100%);
    --destructive: hsl(0 0% 0%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(0 0% 0%);
    --input: hsl(0 0% 0%);
    --ring: hsl(0 100% 60%);
    --chart-1: hsl(0 100% 60%);
    --chart-2: hsl(60 100% 50%);
    --chart-3: hsl(216 100% 50%);
    --chart-4: hsl(120 100% 40%);
    --chart-5: hsl(300 100% 40%);
    --sidebar: hsl(0 0% 94.12%);
    --sidebar-foreground: hsl(0 0% 0%);
    --sidebar-primary: hsl(0 100% 60%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(216 100% 50%);
    --sidebar-accent-foreground: hsl(0 0% 100%);
    --sidebar-border: hsl(0 0% 0%);
    --sidebar-ring: hsl(0 100% 60%);
  
    --font-sans: DM Sans, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
  
    --radius: 0px;
  }
  
  .dark {
    --background: hsl(0 0% 0%);
    --foreground: hsl(0 0% 100%);
    --card: hsl(0 0% 20%);
    --card-foreground: hsl(0 0% 100%);
    --popover: hsl(0 0% 20%);
    --popover-foreground: hsl(0 0% 100%);
    --primary: hsl(0 100.00% 70%);
    --primary-foreground: hsl(0 0% 0%);
    --secondary: hsl(60 100% 60%);
    --secondary-foreground: hsl(0 0% 0%);
    --muted: hsl(0 0% 20%);
    --muted-foreground: hsl(0 0% 80%);
    --accent: hsl(210 100% 60%);
    --accent-foreground: hsl(0 0% 0%);
    --destructive: hsl(0 0% 100%);
    --destructive-foreground: hsl(0 0% 0%);
    --border: hsl(0 0% 100%);
    --input: hsl(0 0% 100%);
    --ring: hsl(0 100.00% 70%);
    --chart-1: hsl(0 100.00% 70%);
    --chart-2: hsl(60 100% 60%);
    --chart-3: hsl(210 100% 60%);
    --chart-4: hsl(120 60.00% 50%);
    --chart-5: hsl(300 60.00% 50%);
    --sidebar: hsl(0 0% 0%);
    --sidebar-foreground: hsl(0 0% 100%);
    --sidebar-primary: hsl(0 100.00% 70%);
    --sidebar-primary-foreground: hsl(0 0% 0%);
    --sidebar-accent: hsl(210 100% 60%);
    --sidebar-accent-foreground: hsl(0 0% 0%);
    --sidebar-border: hsl(0 0% 100%);
    --sidebar-ring: hsl(0 100.00% 70%);
  }
  
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
  
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  }

  .h-\[400px\] {
    height: 400px !important;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.animate-overlayShow {
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-contentShow {
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.react-flow__edge.animated path.react-flow__edge-interaction {
  stroke-dasharray: 10 10;
  stroke: white;
  stroke-width: 1;
  stroke-opacity: 1;
}

.max-w-screen {
  max-width: 100vw !important;
}

@layer base {
  @property --pos-x {
    syntax: "<percentage>";
    initial-value: 11.14%;
    inherits: false;
  }

  @property --pos-y {
    syntax: "<percentage>";
    initial-value: 140%;
    inherits: false;
  }

  @property --spread-x {
    syntax: "<percentage>";
    initial-value: 150%;
    inherits: false;
  }

  @property --spread-y {
    syntax: "<percentage>";
    initial-value: 180.06%;
    inherits: false;
  }

  @property --color-1 {
    syntax: "<color>";
    initial-value: #000;
    inherits: false;
  }

  @property --color-2 {
    syntax: "<color>";
    initial-value: #08012c;
    inherits: false;
  }

  @property --color-3 {
    syntax: "<color>";
    initial-value: #4e1e40;
    inherits: false;
  }

  @property --color-4 {
    syntax: "<color>";
    initial-value: #70464e;
    inherits: false;
  }

  @property --color-5 {
    syntax: "<color>";
    initial-value: #88394c;
    inherits: false;
  }

  @property --border-angle {
    syntax: "<angle>";
    initial-value: 20deg;
    inherits: true;
  }

  @property --border-color-1 {
    syntax: "<color>";
    initial-value: hsla(340, 75%, 60%, 0.2);
    inherits: true;
  }

  @property --border-color-2 {
    syntax: "<color>";
    initial-value: hsla(340, 75%, 40%, 0.75);
    inherits: true;
  }

  @property --stop-1 {
    syntax: "<percentage>";
    initial-value: 37.35%;
    inherits: false;
  }

  @property --stop-2 {
    syntax: "<percentage>";
    initial-value: 61.36%;
    inherits: false;
  }

  @property --stop-3 {
    syntax: "<percentage>";
    initial-value: 78.42%;
    inherits: false;
  }

  @property --stop-4 {
    syntax: "<percentage>";
    initial-value: 89.52%;
    inherits: false;
  }

  @property --stop-5 {
    syntax: "<percentage>";
    initial-value: 100%;
    inherits: false;
  }
}

@layer components {
  .gradient-button {
    @apply relative appearance-none cursor-pointer;
    background: radial-gradient(
      var(--spread-x) var(--spread-y) at var(--pos-x) var(--pos-y),
      var(--color-1) var(--stop-1),
      var(--color-2) var(--stop-2),
      var(--color-3) var(--stop-3),
      var(--color-4) var(--stop-4),
      var(--color-5) var(--stop-5)
    );
    transition: --pos-x 0.5s, --pos-y 0.5s, --spread-x 0.5s, --spread-y 0.5s,
      --color-1 0.5s, --color-2 0.5s, --color-3 0.5s, --color-4 0.5s,
      --color-5 0.5s, --border-angle 0.5s, --border-color-1 0.5s,
      --border-color-2 0.5s, --stop-1 0.5s, --stop-2 0.5s, --stop-3 0.5s,
      --stop-4 0.5s, --stop-5 0.5s;
  }

  .gradient-button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(
      var(--border-angle),
      var(--border-color-1),
      var(--border-color-2)
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
  }

  .gradient-button:hover {
    --pos-x: 0%;
    --pos-y: 91.51%;
    --spread-x: 120.24%;
    --spread-y: 103.18%;
    --color-1: #c96287;
    --color-2: #c66c64;
    --color-3: #ebfafa;
    --color-4: #37140a;
    --color-5: #0f0101;
    --border-angle: 190deg;
    --border-color-1: hsla(340, 78%, 90%, 0.1);
    --border-color-2: hsla(340, 75%, 90%, 0.6);
    --stop-1: 0%;
    --stop-2: 8.8%;
    --stop-3: 21.44%;
    --stop-4: 71.34%;
    --stop-5: 85.76%;
  }

  .gradient-button-variant {
    --color-1: #0e0c0c;
    --color-2: #400f0f;
    --color-3: #390808;
    --color-4: #f7caaa;
    --border-angle: 200deg;
    --border-color-1: hsla(320, 75%, 90%, 0.6);
    --border-color-2: hsla(320, 50%, 90%, 0.15);
  }

  .gradient-button-variant:hover {
    --pos-x: 0%;
    --pos-y: 95.51%;
    --spread-x: 110.24%;
    --spread-y: 110.2%;
    --color-1: #000020;
    --color-2: #ffcda5;
    --color-3: #964a46;
    --color-4: #6d241f;
    --color-5: #000;
    --stop-1: 0%;
    --stop-2: 10%;
    --stop-3: 35.44%;
    --stop-4: 71.34%;
    --stop-5: 90.76%;
    --border-angle: 210deg;
    --border-color-1: hsla(320, 75%, 90%, 0.2);
    --border-color-2: hsla(320, 50%, 90%, 0.75);
  }
}

.bg-auth {
  background-image: url("https://framerusercontent.com/images/V6yzMZmQIav3A0vdCJYl9uPsB8.png?scale-down-to=2048");
}

.auth-image-transition {
  transition: opacity 1s ease-in-out;
}
