@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  :root {
    --background: 49 26.8% 92%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 96.1%;
    --card-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 162 43% 30%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 89.8%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 14.9%;
    --card-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 43 41% 91%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  @font-face {
    font-family: "geist";
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/geist.woff2) format("woff2");
  }

  @font-face {
    font-family: "geist-mono";
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/geist-mono.woff2) format("woff2");
  }
}

.skeleton {
  * {
    pointer-events: none !important;
  }

  *[class^="text-"] {
    color: transparent;
    @apply rounded-md bg-foreground/20 select-none animate-pulse;
  }

  .skeleton-bg {
    @apply bg-foreground/10;
  }

  .skeleton-div {
    @apply bg-foreground/20 animate-pulse;
  }
}

.ProseMirror {
  outline: none;
}

.suggestion-highlight {
  @apply bg-blue-200 hover:bg-blue-300 dark:hover:bg-blue-400/50 dark:text-blue-50 dark:bg-blue-500/40;
}

.Field_input__1L5wD,
.Field_textarea__aADgF {
  width: 100%;
  background: hsla(0, 0%, 97%, 0.05);
  border-radius: 12px;
  border: 1.5px solid transparent;
  font-size: 14px;
  line-height: 1.4;
  color: hsla(0, 0%, 97%, 0.76);
  transition: all 0.2s;
}

[class^="button"] {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  height: 44px;
  border-radius: 32px;
  background: rgba(40, 40, 40, 0.7);
  box-shadow: inset 2px 4px 16px 0 hsla(0, 0%, 97%, 0.06);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  color: hsla(0, 0%, 97%, 0.7);
  transition: background 0.2s, color 0.2s;
}

[class^="button"]:hover {
  background: hsla(0, 0%, 97%, 0.1);
  color: hsla(0, 0%, 97%, 0.76);
}

.ring-offset-background {
  --tw-ring-offset-color: hsla(0, 0%, 97%, 0.76);
}
